@import url('https://fonts.googleapis.com/css2?family=Exo:wght@600&family=Open+Sans&family=Raleway&family=Rubik:wght@300;400;500;600;700;800&display=swap');
* {
  font-family: 'Rubik', sans-serif;
  &::selection {
    background: transparent;
    color: rgb(233, 107, 44);
  }
}
